/osa1/kurssitiedot/node_modules
/osa1/unicafe/node_modules
/osa1/anekdootit/node_modules
/osa2/kurssitiedot/node_modules
/osa2/puhelinluettelo/node_modules
/osa4/node_modules
/osa4/.env
/osa5/Backend/.env
/osa5/Backend/node_modules
/osa5/Frontend/node_modules
